/*
    File Name   : Home.module.scss
    Created     : on 15:07 at Feb 09, 2023
    Description : Home 画面のスタイルシート

    Copyright 2023 Shogo Kitada All Rights Reserved.
        contact@shogo0x2e.com (Twitter, GitHub: @shogo0x2e)

    I would be happy to notify me if you use part of my code.
*/


.main_style {
    margin: 0;
}