/*
    File Name   : Home.module.scss
    Created     : on 15:07 at Feb 09, 2023
    Description : Home 画面のスタイルシート

    Copyright 2023 Shogo Kitada All Rights Reserved.
        contact@shogo0x2e.com (Twitter, GitHub: @shogo0x2e)

    I would be happy to notify me if you use part of my code.
*/

.main_style {
  // .container でナビゲーションバー分の position: fixed;
  // をする用
  position: relative;
  margin: 0;
}

.container {
  width: 80%;

  // 水平中央ぞろえ
  margin: 88px auto 0 auto;
}
