/*
    File Name   : Navigation.module.scss
    Created     : on 16:20 at Feb 07, 2023
    Description : ナビゲーションのスタイルシート

    Copyright 2023 Shogo Kitada All Rights Reserved.
        contact@shogo0x2e.com (Twitter, GitHub: @shogo0x2e)

    I would be happy to notify me if you use part of my code.
*/

.navigator {

  background-color: var(--base-color);

  // Home.module.scss と対応
  height: 88px;

  // 子供達を真ん中を空けるように配置
  display: flex;
  justify-content: space-between;

  // スクロールしても上に表示するよう固定
  position: fixed;
  top: 0;
  // fixed にすると、幅を指定しないと幅いっぱいまで伸びない
  width: 100%;
}

.logo {
  // 左の余白が欲しかった
  margin: 24px;

  font-size: 40px;
}

.button_container {

  // 左の余白が欲しかった
  margin: 24px;

  // 順序番号を消去
  list-style-type: none;

  // ボタンを水平に並べる
  display: flex;
  justify-content: space-around;

  li {
    // 等間隔に並べばなんでもいい
    width: 96px;

    // 文字を中央に持ってくる
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // :hover は li じゃなくて ol に対して割り当てるみたい
  :hover {
    cursor: pointer;
  }
}
