/*
    File Name   : Profile.module.scss
    Created     : on 15:58 at Feb 09, 2023
    Description : プロフィールセクションのデザイン

    Copyright 2023 Shogo Kitada All Rights Reserved.
        contact@shogo0x2e.com (Twitter, GitHub: @shogo0x2e)

    I would be happy to notify me if you use part of my code.
*/

.my_image {
  object-fit: cover;
  border-radius: 50%;
  border: 10px white;
}


